// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// VARIABLES
$brand-color: #0282f9;
$main-text-color: #8e9594;

// UTILITIES
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
